.user-list{
    max-width: 700px;
    margin:  20px auto 0;
    padding: 0 20px;
}
.user-list a{
    align-self: right;
    height: 42px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid #00ccff;
    background: none;
    margin-top: 10px;
    color: #00ccff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center ;
    transition: all 0.2s;
}

.user-list article{
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    align-content: center
}
.user-list article p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}
.user-list article a{
    align-self: right;
    height: 42px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid #00ccff;
    background: none;
    margin-top: 10px;
    color: #00ccff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center ;
    transition: all 0.2s;
    float: right;
    
    
    
}
.user-list article a:hover{
    background: #00ccff;
    color: #fff;

}
.user-list .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.user-list .actions button{
    padding: 10px;
    border: 0;
    background: #00ccff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.user-list .actions button[disabled]{
    opacity: 0.3;
    cursor: default;
}

.user-list .actions button:hover {
    opacity: 0.7;
}

.user-list .actions button[disabled]:hover{
    opacity: 0.3;
}