.product-info{
    max-width: 700px;
    margin:  20px auto 0;
    padding: 0 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-info h1{
    font-size: 32px;
}

.product-info p {
    color: #667;
    line-height: 24px;
    margin-top: 5px;
}
.product-info p a{
    color: aqua;
}